# SIGNALING CONFIG (Used by Flutter)
SIGNALING_URL=https://graduway-backend-btaf.onrender.com
LOCAL_SIGNALING_URL=http://localhost:3000

# OPTIONAL LOCAL CONFIG
# FLUTTER_HOME=C:\dev\flutter
# ANDROID_HOME=C:\Users\username\AppData\Local\Android\Sdk
